<div class="card card_quest card_football">
    <div class="card-wrapper card-wrapper_answer">
        <div class="point-text"></div>
        <div class="card__main-title"></div>
        <div class="answer-wrapper answer-wrapper_final">
            <a href="" class="button  button-social">
                <img src="assets/img/facebook-logo.svg" class="facebook-logo" alt="">
                <span>Поделиться</span>
            </a>
            <a href="" class="button button-social button-social-icon">
                <img src="assets/img/vk-logo.svg" class="vk-logo" alt="">
            </a>
            <a href="" class="button button-social button-social-icon">
                <img src="assets/img/twitter-logo.svg" class="twitter-logo" alt="">
            </a>
        </div>
        <a data-route="start" class="button-continue button-repeat route">
            <span>Пройти еще раз</span>
        </a>
    </div>
    <div class="final-image">
        <img src="assets/img/imgAnswer5.png" class="final-image__img" alt="final-image">
    </div>
</div>