<div class="card card_quest">
    <div class="card-wrapper">
        <div class="point-text"></div>
        <div class="quest-title"></div>
        <div class="answer-wrapper">
            <a data-route="answer" route-option="0" class="button button_quest route"></a>
            <a data-route="answer" route-option="1" class="button button_quest route"></a>
            <a data-route="answer" route-option="2" class="button button_quest route"></a>
            <a data-route="answer" route-option="3" class="button button_quest route"></a>
        </div>
    </div>
</div>